@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: bold;
}

.wrapper {
    display: flex;
    width: auto;
    font-family: lato;
    /*overflow: hidden;*/
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    min-height: 100vh;
}

.page-content-wrapper {
    width: 100%;
    /*position: relative;*/
    padding: 0;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.sidebar-wrapper {
    background-color: #242836;
}

#sidebar li:hover,
#sidebar li:focus {
    background-color: #343847;
    text-decoration: none;
}

#sidebar li {
    line-height: 40px;
    font-size: 14px;
    padding-left: 15px;
}

#sidebar li.active {
    background-color: #1c202b;
    box-sizing: border-box;
    border-left: solid 4px;
    border-color: #7655D4;
}

#sidebar a {
    text-decoration: none;
    color: #6a7085;
    font-family: lato;
    font-weight: bold;

}

#sidebar li.active > a {
    color: white;

}

#sidebar li.active > a > .fa {
    color: #7655D4;
}

.dropdown-toggle {
    border-bottom-left-radius: 15px;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background-color:white;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #7a8097;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d4d4d7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d4d4d7;
        background-color: #1c202b;
    }

    .dropdown-toggle {
        border-bottom-left-radius: 0px;
    }

    .project-button {
        display: none;
        height: 0px;
    }
}

.navbar .fa {
    color: #7655D4;
    font-size: x-small;
}

.login-fieldset {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.01);
    margin: 150px auto;
    width: 420px;

}

.insta-login-fieldset {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.01);
    margin: 10px auto;
    width: 420px;

}

.login-form {
    margin: 25px;
    width: 400px;

}

.signin-button {
    background-color: #7655D4;
    color: #FFF;
    font-weight: bolder;
}

.signin-logo {
    font-size: 14px;
    color: #7655D4;
    vertical-align: middle;
}

.signin-title {
    height: 50px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 75px;
    width: 100%;
    text-align: center;
    margin-left: -15px;
}

fieldset {
    padding-bottom: 25px;
}

.nawigacja {
    font-weight: bolder;
    font-size: 15px;
    width: 200px;
    padding-left: 20px;
    background-color: #242836;
}

.layout-application-name {
    font-size: 18px;
    line-height: 70px;
    width: 100%;
    text-align: center;

    /*padding: 5px 0;*/
    color: #AAA;
    background-color: #1c202b;
}

.nav .navbar-inverse .active {
    background-color: #1C202B;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;

}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

/* style icon */
.inner-addon .glyphicon{
    position: absolute;
    padding-top: 35px;
    padding-left: 25px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0;
    color: #AAA;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;

}

.input-control:focus {
    border-color: #B89EFF;
!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.top {
    height: 60px;
    width: 100%;
    background-color: #1c202b;
    top: 10px;
}

.space-top {
    padding-top: 50px;
}

.bootstrap-switch-scaleefect {
    background: #7655D4;
}

.img-user {
    max-width: 40px;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

.project_button {
    margin-top: 20px;

}

li.dropdown.open {
    background-color: #fff;
}

.gradient-background {
    background: #e4e6ec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1c202b, #e4e6ec 4px, #f7f9ff, #f7f9ff 16px, #fff, #fff 17px); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#1c202b, #e4e6ec 4px, #f7f9ff, #f7f9ff 16px, #fff, #fff 17px); /* For Opera 11.6-12.0 */
    background: -moz-linear-gradient(#1c202b, #e4e6ec 4px, #f7f9ff, #f7f9ff 16px, #fff, #fff 17px); /* For Firefox 3.6-15 */
    background: linear-gradient(#1c202b, #e4e6ec 4px, #f7f9ff, #f7f9ff 16px, #fff, #fff 17px); /* Standard syntax */
}

.site-title {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.projects-table {
    background-color: #fff;
!important
}

.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active {
    background-color: #fff;
    padding-top: 11px;
    padding-botttom: 13px;
}

table.table.projects-table > tbody > tr.active > td > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: solid 1px #dddddd;
    border-radius: 4px;
    padding: 5px 5px;
}

table.table.projects-table > tbody > tr.active > td > a:hover {
    background-color: #c9c9c9;
    text-decoration: underline;
}

kill-button{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: solid 1px #dddddd;
    border-radius: 4px;
}

div.project-setting-row div.row{
    margin:0;
}

.setting-control{
    padding-top: 10px;
}

#preloader {

    left: 0px;
    top: 20px;
    width: 100%;
    height: 100px;
    /*background-color:#fff; !* change if the mask should have another color then white *!*/
    /*z-index:99; !* makes sure it stays on top *!*/
}

#status {
    width:100%;

    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/preloader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    /*margin:-100px 0 0 -100px; !* is width and height divided by two *!*/
}

.progress {
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
    background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}
.progress {
    background-color: #ebeef1;
    background-image: none;
    box-shadow: none;
    margin-bottom: 0px;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
    background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}
.progress-bar {
    box-shadow: none;
    border-radius: 3px;
    background-color: #0090D9;
    background-image: none;
    -webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.progress-bar-info {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#5bc0de),to(#31b0d5));
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
    background-image: -moz-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
    background-image: linear-gradient(to bottom,#5bc0de 0,#31b0d5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff31b0d5',GradientType=0);
}
.progress-bar-info {
    background-color: #0090D9;
    background-image: none;
}

.error {
    border: #FF0000 1px solid;
}
