@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: bold;
}

.body {

}

.wrapper {
    display: flex;
    width: auto;
    font-family: lato;
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    min-height: 100vh;
}

.page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.sidebar-wrapper {
    background-color: #242836;
}

#sidebar li:hover,
#sidebar li:focus {
    background-color: #343847;
    text-decoration: none;
}

#sidebar li {
    line-height: 40px;
    font-size: 14px;
    padding-left: 15px;
}

#sidebar li.active {
    background-color: #1c202b;
    box-sizing: border-box;
    border-left: solid 4px;
    border-color: #7655D4;
}

#sidebar a {
    text-decoration: none;
    color: #6a7085;
    font-family: lato;
    font-weight: bold;

}

#sidebar li.active > a {
    color: white;

}

#sidebar li.active > a > .fa {
    color: #7655D4;
}

.dropdown-toggle {
    border-bottom-left-radius: 15px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #7a8097;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d4d4d7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d4d4d7;
        background-color: #1c202b;
    }

    .dropdown-toggle {
        border-bottom-left-radius: 0px;
    }

    .project-button {
        display: none;
        height: 0px;
    }
}

.navbar .fa {
    color: #7655D4;
    font-size: x-small;
}

.login-fieldset {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.01);
    margin: 150px auto;
    width: 420px;

}

.login-form {
    margin: 25px;
    width: 400px;

}

.signin-button {
    background-color: #7655D4;
    color: #FFF;
    font-weight: bolder;
}

.signin-logo {
    font-size: 14px;
    color: #7655D4;
    vertical-align: middle;
}

.signin-title {
    height: 50px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 75px;
    width: 100%;
    text-align: center;
    margin-left: -15px;
}

fieldset {
    padding-bottom: 25px;
}

.nawigacja {
    font-weight: bolder;
    font-size: 15px;
    width: 200px;
    padding-left: 20px;
    background-color: #242836;
}

.layout-application-name {
    font-size: 18px;
    line-height: 70px;
    width: 100%;
    text-align: center;

    /*padding: 5px 0;*/
    color: #AAA;
    background-color: #1c202b;
}

.nav .navbar-inverse .active {
    background-color: #1C202B;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;

}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding-top: 35px;
    padding-left: 25px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0;
    color: #AAA;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;

}

.input-control:focus {
    border-color: #B89EFF;
!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.top {
    height: 60px;
    width: 100%;
    background-color: #1c202b;
    top: 10px;
}

.space-top {
    padding-top: 50px;
}

.bootstrap-switch-scaleefect {
    background: #7655D4;
}

.img-user {
    max-width: 40px;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

.project_button {
    margin-top: 20px;

}

li.dropdown.open {
    background-color: #fff;
}

.gradient-background {
    background: #e4e6ec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1c202b, #e4e6ec 1.25%, #f7f9ff, #f7f9ff 5%, #fff, #fff 6%); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#1c202b, #e4e6ec 1.25%, #f7f9ff, #f7f9ff 5%, #fff, #fff 6%); /* For Opera 11.6-12.0 */
    background: -moz-linear-gradient(#1c202b, #e4e6ec 1.25%, #f7f9ff, #f7f9ff 5%, #fff, #fff 6%); /* For Firefox 3.6-15 */
    background: linear-gradient(#1c202b, #e4e6ec 1.25%, #f7f9ff, #f7f9ff 5%, #fff, #fff 6%); /* Standard syntax */
}

.site-title {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.projects-table {
    background-color: #fff;
!important
}

.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active {
    background-color: #fff;
    padding-top: 11px;
    padding-botttom: 13px;
}

table.table.projects-table > tbody > tr.active > td > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: solid 1px #dddddd;
    border-radius: 4px;
    padding: 5px 5px;
}

table.table.projects-table > tbody > tr.active > td > a:hover {
    background-color: #c9c9c9;
    text-decoration: underline;
}

kill-button{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: solid 1px #dddddd;
    border-radius: 4px;
    padding: 5px 5px;
}
