<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title th:text="#{view.about.title}">Welcome!</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/layout :: header"></div>
    <div class="page-content-wrapper">
        <div th:replace="fragments/layout :: upperBar"></div>
        <div class="container-fluid">
            <div th:replace="fragments/components :: alert (type='danger', message=${errorMessage})">Error: Error</div>
        </div>
    </div>

</div>
</body>
</html>

