<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <title th:replace="fragments/layout :: title"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
 `
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body>

<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/authenticate}">
    <th:block th:if="${param.error != null}">
        <div th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">
            Alert
        </div>
    </th:block>

    <div class="login-fieldset">

        <fieldset>
            <div class="login-form container" style="margin:0px;">

                    <div class="row">
                        <div class="signin-title">
                            <i class="fa fa-circle signin-logo"></i>
                            <span th:text="#{application.title}">&nbsp;&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 inner-addon left-addon">
                            <label for="inputEmail" class="control-label">Email</label>

                            <i class="glyphicon glyphicon-user "></i>
                            <input type="text" class="form-control input-control" id="inputEmail" placeholder="Email"
                                   name="username"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 inner-addon left-addon">
                            <label for="inputPassword" class="control-label" th:text="#{signin.password}"/>
                            <i class="glyphicon glyphicon-lock "></i>
                            <input type="password" class="form-control input-control" id="inputPassword"
                                   placeholder="Password"
                                   name="password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="_spring_security_remember_me"
                                           th:text="#{signin.rememberme}"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">

                            <button type="submit" class="btn btn-block signin-button" th:text="#{signin.signin}">Sign in
                            </button>
                        </div>
                    </div>

            </div>
            <!--<div class="form-group">-->
            <!--<div class="col-lg-offset-2 col-lg-10">-->
            <!--<p>New here? <a href="signup" th:href="@{/signup}">Sign Up</a></p>-->
            <!--</div>-->
            <!--</div>-->
        </fieldset>
    </div>
</form>

</div>

</form>
</body>
</html>