<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link href="../../../resources/css/scaleefect.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/scaleefect.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/layout :: header"></div>
    <div class="page-content-wrapper">
        <div th:replace="fragments/layout :: upperBar"></div>
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
                &nbsp;
            </div>
        </th:block>
        <div class="container-fluid gradient-background">
            <p class="lead text-left site-title">
                <span th:text="#{project.information}"></span>
            </p>
            <table class="table project-table">
                <tr>
                    <th th:text="#{dashboard.table.projectName}"></th>
                    <th th:text="#{dashboard.table.customerName}"></th>

                    <th th:text="#{dashboard.table.runningTime}" class="like-column">-</th>
                    <th th:text="#{dashboard.table.nextFire}" class="like-column">-</th>
                    <th th:text="#{dashboard.table.avgHit}" class="like-column">-</th>

                    <th th:text="#{dashboard.table.action}"></th>


                </tr>

                <tr th:each="job : ${jobs}">
                    <td th:text="${job.projectName}"></td>
                    <td th:text="${job.customerName}"></td>

                    <td th:text="${#dates.format(job.runningTime, 'HH:mm:ss')}" class="like-column">-</td>
                    <td th:text="${#dates.format(job.nextFire, #messages.msg('app.dateformat.long'))}"
                        class="like-column">-
                    </td>
                    <td th:text="${job.hits}" class="like-column">-</td>

                    <td>
                        <div style="display: inline">
                        <form th:action="@{/kill(id=${job.projectId})}" th:method="post" style="float: left; ">
                            <a class="btn btn-success btn-sm"
                               th:href="@{/stats(id=${job.projectId})}"><i class="fa fa-line-chart "></i>Statystyki</a>
                            <button type="submit" class="btn btn-danger btn-sm">
                                <span class="fa fa-times " aria-hidden="true"></span><span
                                    th:text="#{dashboard.project.kill}"/>
                            </button>
                        </form>

                        <form th:action="@{/firejob(id=${job.projectId})}" th:method="post" style="float: left; padding-left: 2px">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-bolt" aria-hidden="true"></i>Wymuś uruchomienie
                            </button>
                        </form>

                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <table>
            <tr th:each="m : ${media}">
                <td><a th:href="${m.link}">show </a></td>
                <td><img th:src="${m.imageUrls.low}" alt=""/></td>
                <td>
                    <a th:href="@{/like(id=${m.shortcode})}">like</a>
                </td>
            </tr>
        </table>

    </div>

</div>
</body>
</html>