<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link href="../../../resources/css/scaleefect.css" rel="stylesheet" media="screen" th:href="@{/resources/css/scaleefect.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/layout :: header"></div>
    <div class="page-content-wrapper">
        <div th:replace="fragments/layout :: upperBar"></div>
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
                &nbsp;
            </div>
        </th:block>
        <div class="container-fluid gradient-background">
            <p class="lead text-left site-title">
                <span th:text="#{project.information}"></span>
            </p>
        <table class="table project-table">
            <tr>
                <th rowspan="2" th:text="#{dashboard.table.projectName}"></th>
                <th rowspan="2" th:text="#{dashboard.table.customerName}"></th>

                <th colspan="3" scope="colgroup" class="like-column"><img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/like-32.png" alt="Like" style="width: 32px; display: block; margin:0 auto"></th>
                <th colspan="3" scope="colgroup" class="comment-column"><img src="http://findicons.com/files/icons/1676/primo/128/comments.png" alt="Comment" style="width: 32px; display: block; margin:0 auto"></th>

                <th rowspan="2" th:text="#{dashboard.table.action}"></th>
            </tr>

            <tr>
                <th th:text="#{dashboard.table.runningTime}" class="like-column">-</th>
                <th th:text="#{dashboard.table.nextFire}" class="like-column">-</th>
                <th th:text="#{dashboard.table.avgHit}" class="like-column">-</th>

                <th th:text="#{dashboard.table.runningTime}" class="comment-column">-</th>
                <th th:text="#{dashboard.table.nextFire}" class="comment-column">-</th>
                <th th:text="#{dashboard.table.avgHit}" class="comment-column">-</th>
            </tr>

            <tr th:each="job : ${jobs}">
                <td th:text="${job.projectName}"></td>
                <td th:text="${job.customerName}"></td>

                <td th:text="${#dates.format(job.likeRunningTime, 'HH:mm:ss')}" class="like-column">-</td>
                <td th:text="${#dates.format(job.likeNextFire, #messages.msg('app.dateformat.long'))}" class="like-column">-</td>
                <td th:text="${job.likeHits}" class="like-column">-</td>

                <td th:text="${#dates.format(job.commentRunningTime, 'HH:mm:ss')}" class="comment-column">-</td>
                <td th:text="${#dates.format(job.commentNextFire, #messages.msg('app.dateformat.long'))}" class="comment-column">-</td>
                <td th:text="${job.commentHits}" class="comment-column">-</td>

                <td>
                    <form th:action="@{/kill(id=${job.projectId})}" th:method="post">
                        <button type="submit" class="btn btn-danger">
                            <span class="fa fa-times" aria-hidden="true"></span><span th:text="#{dashboard.project.kill}"/>
                        </button>
                    </form>
                    <a th:href="@{/stats(id=${job.projectId})}" />
                </td>
            </tr>
        </table>
        </div>
    </div>

</div>
</body>
</html>