<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.project.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/font-awesome.min.css}"/>
    <link href="../../../resources/css/navbar-fixed-side.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/navbar-fixed-side.css}"/>


    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>

    <link href="../../../resources/css/bootstrap-tokenfield.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap-tokenfield.min.css}"/>
    <link href="../../../resources/css/tokenfield-typeahead.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/tokenfield-typeahead.min.css}"/>
    <script src="../../../resources/js/bootstrap-tokenfield.min.js"
            th:src="@{/resources/js/bootstrap-tokenfield.min.js}"></script>

    <link href="../../../resources/css/bootstrap-switch.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap-switch.min.css}"/>
    <script src="../../../resources/js/bootstrap-switch.min.js"
            th:src="@{/resources/js/bootstrap-switch.min.js}"></script>

    <link href="../../../resources/css/scaleefect.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/scaleefect.css}"/>
    <script src="../../../resources/js/bootstrap.min.js"
            th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/layout :: header"></div>
    <div class="page-content-wrapper">
        <div th:replace="fragments/layout :: upperBar"></div>
        <div class="container-fluid gradient-background project-form">
            <p class="lead text-left site-title">
                <span th:text="#{${projectForm.name == null ? 'project.add' : 'project.edit'}}"></span>
            </p>
            <form class="form-narrow form-horizontal project-form" method="post" th:action="@{/project}"
                  th:object="${projectForm}"
                  th:fragment="projectForm">
                <div class="row">

                    <div class="col-lg-6 input-border">
                        <p class="lead text-left">
                            <span th:text="#{project.information}"></span>
                        </p>

                        <div class="form-group row">
                            <label for="projectActive" class="col-lg-4 control-label"
                                   th:text="#{project.active}"></label>
                            <div class="col-lg-8">
                                <input type="checkbox" class="form-control scaleefect" id="projectActive"
                                       th:field="*{status}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                      th:text="#{project.error.status}"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="projectName" class="col-lg-4 control-label"
                                   th:text="#{view.projects.name}"></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="projectName" th:field="*{name}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                      th:text="#{project.error.name}"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="customer" class="col-lg-4 control-label"
                                   th:text="#{project.customer}"></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="customer" th:field="*{customer}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('customer')}"
                                      th:errors="*{customer}" th:text="#{project.error.customer}"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="include-hashtag" class="col-lg-4 control-label"
                                   th:text="#{project.hashtag.include}"></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="include-hashtag"
                                       th:field="*{includeHashtags}"
                                       onkeypress="return event.keyCode != 13;"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="exclude-hashtag" class="col-lg-4 control-label"
                                   th:text="#{project.hashtag.exclude}"></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="exclude-hashtag"
                                       th:field="*{excludeHashtags}"
                                       onkeypress="return event.keyCode != 13;"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="istagram-account" class="col-lg-4 control-label"
                                   th:text="#{project.instagram.account}"></label>
                            <div class="col-lg-8">
                                <select class="form-control" id="istagram-account" th:field="*{instagramAccount}">
                                    <option th:text="#{project.instagram.account.choose}" value=""></option>
                                    <option th:each="insta : ${instagramAccounts}"
                                            th:text="'@' + ${insta.instaUserName}"
                                            th:value="${insta.instaUserName}"/>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="row input-border">
                            <p class="lead text-left">
                                <span th:text="#{project.activity}"></span>
                            </p>

                            <div class="form-group row">
                                <label for="comment" class="col-lg-4 control-label"
                                       th:text="#{project.comment}"></label>
                                <div class="col-lg-8">
                        <textarea class="form-control" id="comment" th:placeholder="#{project.comment.placeholder}"
                                  th:field="*{commentString}">

                        </textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="like-frequency" class="col-lg-4 control-label"
                                       th:text="#{project.frequency.like}"></label>
                                <div class="col-lg-8">
                                    <select class="form-control" id="like-frequency" th:field="*{likeFrequency}">
                                        <option th:text="#{project.instagram.account.choose}" value=""></option>
                                        <option th:each="freq : ${T(pl.szewczyk.projects.FrequencyEnum).values()}"
                                                th:text="${freq.frequency} + ' / godz'" th:value="${freq}"></option>
                                    </select>
                                </div>
                            </div>
                            <div clas="row">
                                <label for="comment-frequency" class="col-lg-4 control-label"
                                       th:text="#{project.frequency.comment}"></label>
                                <div class="col-lg-8">
                                    <select class="form-control" id="comment-frequency" th:field="*{commentFrequency}">
                                        <option th:text="#{project.instagram.account.choose}" value=""></option>
                                        <option th:each="freq : ${T(pl.szewczyk.projects.FrequencyEnum).values()}"
                                                th:text="${freq.frequency} + ' / godz'" th:value="${freq}"></option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row project-setting-row input-border">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead text-left">
                                        <span th:text="#{project.settings}"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label class="row control-label"
                                           th:text="#{project.hashtag.search}">
                                    </label>
                                    <div class="row setting-control" th:each="val : ${enumValues}">
                                        <input type="radio" th:value="${val}" th:field="*{hashtagSearch}"
                                               th:text="#{${val}}">
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <label class="row control-label"
                                           th:text="#{project.activity}">
                                    </label>


                                    <div class="row setting-control">
                                        <input type="checkbox" th:text="#{project.activity.like}"
                                               th:field="*{like}"/>
                                    </div>
                                    <div class="row setting-control">
                                        <input type="checkbox" th:text="#{project.activity.comment}"
                                               th:field="*{comment}"/>
                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        <input type="submit" th:value="#{project.save}" class="btn btn-default">
                    </div>
                    <div class="col-lg-2">
                        <a th:href="@{/projects}" th:text="#{navigation.back}" class="btn btn-default"></a>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#include-hashtag').tokenfield({beautify: true});
    $('#exclude-hashtag').tokenfield();
    $('#projectActive').bootstrapSwitch({'onColor': 'scaleefect', 'inverse': true});
</script>

</body>
</html>