<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/font-awesome.min.css}"/>
    <link href="../../../resources/css/navbar-fixed-side.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/navbar-fixed-side.css}"/>
    <link href="../../../resources/css/scaleefect.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/scaleefect.css}"/>


    <link href="../../../resources/css/bootstrap-tokenfield.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap-tokenfield.min.css}"/>
    <link href="../../../resources/css/tokenfield-typeahead.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/tokenfield-typeahead.min.css}"/>
    <script src="../../../resources/js/bootstrap-tokenfield.min.js"
            th:src="@{/resources/js/bootstrap-tokenfield.min.js}"></script>
</head>
<body>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<div class="wrapper">
    <div th:replace="fragments/layout :: header"></div>
    <div class="page-content-wrapper">
        <div th:replace="fragments/layout :: upperBar"></div>
        <!--/* Show general error message when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${userForm.*}')}">
            <div th:replace="fragments/components :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>

        <form class="form-narrow form-horizontal" method="post" th:action="@{/user}" th:object="${userForm}"
              id="editUserForm" th:fragment="userForm">
            <div class="container-fluid gradient-background">
                <p class="lead text-left site-title">
                    <span th:text="#{${userForm.email == null} ? user.add : user.edit}"></span>
                </p>
                <div class="row">
                    <!--email-->
                    <div class="col-lg-5">
                        <div class="row form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                            <label for="email" class="control-label col-lg-3">Email</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-control" id="email" placeholder="Email"
                                       th:field="*{email}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}">Incorrect email</span>
                            </div>
                        </div>
                        <!--password-->
                        <div class="row form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                            <label for="password" class="control-label col-lg-3" th:text="#{user.password}"></label>
                            <div class="col-lg-9">
                                <input type="password" class=" form-control input-control" id="password"
                                       th:placeholder="#{user.password}"
                                       th:field="*{password}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}">Incorrect password</span>
                            </div>
                        </div>
                        <!--repeat-->
                        <div class="row form-group"
                             th:classappend="${#fields.hasErrors('repeatPassword')}? 'has-error'">
                            <label for="repeatPassword" class="control-label col-lg-3"
                                   th:text="#{user.repeatPassword}"></label>
                            <div class="col-lg-9">
                                <input type="password" class=" form-control input-control" id="repeatPassword"
                                       th:placeholder="#{user.repeatPassword}"
                                       th:field="*{repeatPassword}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('repeatPassword')}"
                                      th:errors="*{repeatPassword}">Incorrect password</span>
                            </div>
                        </div>
                        <!--expires-->
                        <div class="row form-group"
                             th:classappend="${#fields.hasErrors('repeatPassword')}? 'has-error'">
                            <label for="expires" class="control-label col-lg-3" th:text="#{user.expires}"></label>
                            <div class="col-lg-9">
                                <input type="date" class="form-control input-control" id="expires"
                                       th:placeholder="#{user.expires}"
                                       th:field="*{expires}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('expires')}" th:errors="*{expires}">Incorrect password</span>
                            </div>
                        </div>
                        <!--locked-->
                        <div class="row form-group" th:classappend="${#fields.hasErrors('locked')}? 'has-error'">
                            <label for="locked" class="control-label col-lg-3" th:text="#{user.locked}"></label>
                            <div class="col-lg-9">
                                <input type="checkbox" class="media-middle input-control" id="locked"
                                       th:placeholder="#{user.locked}"
                                       th:field="*{locked}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('locked')}"
                                      th:errors="*{locked}">Incorrect password</span>
                            </div>
                        </div>
                        <div class="row form-group" th:classappend="${#fields.hasErrors('role')}? 'has-error'">
                            <label for="role" class="control-label col-lg-3" th:text="#{user.role}"></label>
                            <div class="col-lg-9">
                                <select th:value="*{role}" class="media-middle form-control input-control" id="role"
                                        th:placeholder="#{user.role}"
                                        th:field="*{role}">
                                    <option th:text="#{project.instagram.account.choose}" value="" disabled></option>
                                    <option th:each="role : ${T(pl.szewczyk.account.Role).values()}"
                                            th:text="#{${role.description}}" th:value="${role}"></option>
                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('role')}"
                                      th:errors="*{role}">Incorrect password</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="row" th:classappend="${#fields.hasErrors('role')}? 'has-error'">

                            <label for="role" class="col-lg-4 control-label" th:text="#{user.instagram.user}"></label>
                            <div class=" form-group col-sm-8">
                                <button type="button" class="media-middle input-control btn btn-default" id="addInsta"
                                        th:text="#{user.instagram.user}" name="insta"></button>
                            </div>
                        </div>
                        <div class="row" th:fragment="instaUserTable">
                            <div id="resultsBlock">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <!--SAVE-->
            <div class="row" align="center">
                <div class="center-block">
                    <button type="submit" class="btn btn-default" th:text="#{user.save}" name="save"></button>
                </div>
            </div>
        </form>

    </div>
</div>
<script th:inline="javascript">
    var url = '/adduser';

    $('#addInsta').on('click', function () {
        var myWindow = window.open('https://instagram.com/accounts/logout/', '_blank', "width=100,height=100");
        setTimeout(function () {
            myWindow.close();
            myWindow = window.open('https://www.instagram.com/oauth/authorize/?client_id=67a5ccf8ac4045a98906e37679caa4e2&redirect_uri=' + window.location.origin + '/userAdded' + window.location.search + '&response_type=code', '_blank', 'scrollbars=0,resizable=0,height=350,width=450');
        }, 1000);

    });

    window.addEventListener('message', receiveMessage, false);
    function receiveMessage(event) {
        $("#resultsBlock").load(url);
    }


    $("#resultsBlock").load(url);
</script>
<div th:replace="fragments/components :: modal(id='signup-modal', title='Signup')"></div>
</body>
</html>