<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="activity">
    <canvas id="canvas" style="width: 100%; height: 500px;"></canvas>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div id="details">

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">

                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-primary">Zamknij</button>-->
                <!--</div>-->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script th:inline="javascript">
        $("#details").hide();
        $("#status").fadeOut();
        $("#preloader").fadeOut();
        var chartLikeData = [[${chartLikeData}]];
        var chartCommentData = [[${chartCommentData}]];
        var myLikeLabels = [[${chartLikeLabels}]];
        var myCommentLabels = [[${chartCommentLabels}]];
        //var projectTags = [[${project.includeHashtags}]];
        var chartLabels = [];
        //        var responseData;

        myLikeLabels.forEach(function (lbl) {
            chartLabels.push(moment(lbl.split('###')[0]));
        });

        myCommentLabels.forEach(function (lbl) {
            if ($.inArray(moment(lbl.split('###')[0]), chartLabels))
                chartLabels.push(moment(lbl.split('###')[0]));
        });


        var ctx = $("#canvas")[0].getContext("2d");

        var myLineChart = new Chart(ctx, {
            type: "line",

            data: {
                datasets: [
                    {
//                            steppedLine: 'before',
                        label: 'Likes',
                        data: chartLikeData,
                        borderColor: '#66cccc',
                        fill: false
                    },
                    {
//                            steppedLine: 'before',
                        label: 'Comments',
                        data: chartCommentData,
                        borderColor: '#36db52',
                        fill: false
                    }
                ],
                labels: chartLabels
            },
            options: {
                scales: {
                    xAxes: [
                        {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    'minute': 'mm'
                                },
                                unit: 'minute'
                            },
                            position: "bottom",
                            ticks: {
                                maxRotation: 90,
                                minRotation: 90,
                                mirror: false,
                            }

                        },
                        {
                            type: 'time',
                            distribution: 'linear',
                            time: {
                                displayFormats: {
                                    'hour': 'HH'
                                },
                                unit: 'hour'
                            },
                            position: "bottom",
                            ticks: {
                                source: 'auto'
                            }

                        }
                    ],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Ilość trafień'
                            }
                        }
                    }]
                }
            }
        });

        $("#canvas").click(
            function (evt) {
                var activePoints = myLineChart.getElementsAtEvent(evt);
                if (activePoints.length > 0) {
                    var statId = myLikeLabels[activePoints[0]._index].split('###')[1];
                    $("#details").fadeOut();
                    $("#status").fadeIn();
                    $("#preloader").fadeIn();

                    $("#details").load('/activity?id=' + statId, function () {
                        $("#status").fadeOut();
                        $("#preloader").fadeOut();
                        $("#details").fadeIn();
                    });
                }
            }
        );

        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var type = button.data('type'); // Extract info from data-* attributes
            var id = button.data('id'); // Extract info from data-* attributes
            var modal = $(this);
console.log('aaa ' + type);
console.log('aaa ' + id);
            if (type == 'like') {
                modal.find('.modal-title').text('Użytkownicy polubili');
                modal.find('.modal-body').load('/stats/media?type=like&id=' + id);
            } else if (type == 'comment') {
                modal.find('.modal-title').text('Użytkownicy skomentowali');
                modal.find('.modal-body').load('/stats/media?type=comment&id=' + id);
            }
        });


    </script>

    <div class="alert " role="alert" id="notification"
         style="display: none; width: 200px; position: fixed; bottom: 15px; right: 15px">
        <span class="dismiss"></span>
    </div>


</div>

</body>
</html>
