<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title th:text="#{view.about.title}">Welcome!</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/layout :: header"></div>
    <div class="page-content-wrapper">
        <div th:replace="fragments/layout :: upperBar"></div>
        <div class="container-fluid gradient-background">
            <p class="lead text-left site-title">
            <span th:text="#{navigation.stats}">
            </span> -
                <span th:text="${project.name}">
            </span>
                <span><button type="button" class="btn btn-info" data-toggle="collapse"
                              data-target="#det">Szczegóły</button></span>
                <div>


                    <div class="collapse" id="det">
            <p><span th:text="#{project.active}"></span> - <span th:text="${project.status ? 'Tak' : 'Nie'}"></span></p>
            <p><span th:text="#{project.customer}"></span> - <span th:text="${project.customer}"></span></p>
            <p><span th:text="#{project.hashtag.include}"></span> - <span th:text="${project.includeHashtags}"></span>
            </p>
            <p><span th:text="#{project.hashtag.exclude}"></span> - <span th:text="${project.excludeHashtags}"></span>
            </p>
            <p><span th:text="#{project.activity.comment}"></span> - <span
                    th:text="${project.comment ? 'Tak' : 'Nie'}"></span><span th:if="${project.comment}"> : </span><span
                    th:if="${project.comment}" th:text="${project.commentFrequency.frequency + '/godz'}"></span></p>
            <p><span th:text="#{project.activity.like}"></span> - <span
                    th:text="${project.like ? 'Tak' : 'Nie'}"></span> <span th:if="${project.like}"> : </span><span
                    th:if="${project.like}" th:text="${project.likeFrequency.frequency + '/godz'}"></span></p>
            <p><span th:text="#{project.comment}"></span> - <span th:text="${project.commentString}"></span></p>

        </div>
    </div>
    </p>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#activity"><span class="fa fa-bar-chart" aria-hidden="true">&nbsp;&nbsp;</span>Aktywność</a>
    </li>
    <li><a data-toggle="tab" href="#tags"><span class="fa fa-hashtag" aria-hidden="true">&nbsp;&nbsp;</span>Hashtagi</a>
    </li>
    <!--<li><a data-toggle="tab" href="#users"><span class="fa fa-user-circle-o"-->
                                                 <!--aria-hidden="true">&nbsp;&nbsp;</span>Użytkownicy</a></li>-->
</ul>
<div class="tab-content">
    <div id="activity" class="tab-pane fade in active">

        <div th:replace="stats/activity :: activity"/>

    </div>
    <div id="tags" class="tab-pane fade">
        <div th:replace="stats/tags :: stats(projectId=${project.id})"/>
    </div>
    <!--<div id="users" class="tab-pane fade">-->
        <!--<div th:replace="stats/users :: stats(projectId=${project.id})"/>-->
    <!--</div>-->
</div>

</div>

</div>
</body>
</html>