<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="stats(projectId)">
    <div id="details">
        <table class="table project-table" id="tags">
            <thead>
            <tr>
                <th>Hashtag</th>
                <th>Wystąpił</th>
                <th>Trafień ogółem</th>
                <th>%</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>
</body>
</html>
