<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<div>
    <!-- Reusable alert -->
    <div th:fragment="alert (type, message)" class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span th:text="${message}">Test</span>
    </div>
    <!-- Reusable modal -->
    <div th:fragment="modal (id, title)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog"
         aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalLabel" th:text="${title}">My modal</h4>
                </div>
                <div class="modal-body" th:id="${id + '-body'}"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <table class="table table-striped" th:fragment="instaUserTable">
        <thead>
        <tr>
            <td th:text="#{user.instagram.profile_picture}"></td>
            <td th:text="#{user.instagram.id}"></td>
            <td th:text="#{user.instagram.username}"></td>
            <td th:text="#{user.instagram.full_name}"></td>
            <td></td>
        </tr>
        </thead>
        <tr th:each="insta : ${userForm.instaUsers}">

            <td style="text-align: center">
                <img id="picture" th:src="${insta.profilePictureURL}" class="img-circle"
                     style="width: 50px"
                     th:alt="${profilePictureURL}"/>
            </td>


            <td th:text="${insta.id}"/>


            <td th:text="${insta.instaUserName}"/>


            <td th:text="${insta.fullName}"/>
            <td>


                <a href="#" data-th-href="@{/user(id=${insta.id},email=${userForm.email})}">
        <span class="btn btn-danger remove show_tip">
        <i class="fa fa-trash-o"></i>
            </span>
                </a>
            </td>
        </tr>
    </table>

    <div th:fragment="activityStats">
        <table class="table project-table" id="medias">
            <thead>
            <tr>
                <th onclick="sortTable(0)">Data</th>
                <th>Media</th>
                <th style="width: 30%; max-width: 30%; word-wrap: break-word">Tags</th>
                <th onclick="sortTable(3)">Likes</th>
                <th onclick="sortTable(4)">Comments</th>
                <th onclick="sortTable(5)" th:if="${project.onlineStats}">User</th>
                <th onclick="sortTable(6)" th:if="${project.onlineStats}">Followed by</th>
                <th onclick="sortTable(7)" th:if="${project.onlineStats}">Location</th>
                <!--<th>Like</th>-->
                <!--<th>Comment</th>-->
            </tr>
            </thead>
            <tr th:each="media : ${mediaList}">
                <td th:text="${#dates.format(media.createdDate, 'dd-MM-yyyy HH:mm')}"></td>
                <td><a th:href="${media.link}" target="_blank"><img style="width: 50px" th:src="${media.thumbnailUri}"
                                                                    alt="[deleted]"/></a></td>
                <td style="width: 30%; max-width: 30%; word-wrap: break-word">
                    <div th:each="tag : ${#strings.listSplit(media.tags,',')}" th:text="${tag}"
                         th:class="${#lists.contains(#strings.listSplit(#strings.toUpperCase(project.includeHashtags),','),#strings.toUpperCase(tag))} ? 'label label-success' : 'label label-default'"
                         style="margin-right: 1px"></div>
                </td>
                <td><a href="#" data-toggle="modal" data-target="#myModal" data-type="like"
                       th:data-id="${media.mediaId}"
                       th:text="${media.userLikes}"></a><span th:if="${media.liked}" class="fa fa-check"
                                                              th:title="${#dates.format(media.actionTime, 'dd-MM-yyyy HH:mm')}"/>
                </td>
                <td><a href="#" data-toggle="modal" data-target="#myModal" data-type="comment"
                       th:data-id="${media.mediaId}"
                       th:text="${media.commentsCount}"></a><span th:if="${media.commented}" class="fa fa-check"
                                                                  th:title="${#dates.format(media.actionTime, 'dd-MM-yyyy HH:mm')}"/>
                </td>
                <td th:if="${project.onlineStats}"><a th:href="'https://www.instagram.com/' + ${media.userName}"
                                                      target="_blank"><img
                        class="img-circle"
                        style="width: 50px;"
                        th:src="${media.userProfileImage}"
                        th:alt="${media.userProfileImage}"
                        th:text="${media.userName}"/></a>
                </td>
                <td th:if="${project.onlineStats}" th:text="${media.userFollowed}"></td>
                <td th:if="${project.onlineStats}"   th:text="${media.locationName}"></td>

                <!--<td><a href="#" class="like" th:data-mediaid="${media.mediaId}">Polub</a></td>-->
                <!--<td><a href="#" class="comment" th:data-mediaid="${media.mediaId}">Skomentuj</a></td>-->

            </tr>
        </table>

    </div>

    <div th:fragment="hashtags">
        <table class="table project-table" id="tags">
            <thead>
            <tr>
                <th>Hashtag</th>
                <th>Wystąpił</th>
                <th>Trafień ogółem</th>
                <th>%</th>
            </tr>
            </thead>
            <tr th:each="tag : ${mediatags}">
                <td th:text="${tag.tag}"></td>
                <td th:text="${#numbers.formatDecimal(tag.hits, 0,0)}"></td>
                <td th:text="${#numbers.formatDecimal(tag.total, 0,0)}"></td>
                <td>

                    <span th:text="${#numbers.formatDecimal(100*(tag.hits/tag.total), 0,2)} + ' %'"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" th:aria-valuenow="${tag.hits}"
                             aria-valuemin="0" th:aria-valuemax="${tag.total}"
                             th:style="'width:' + ${100*(tag.hits/tag.total)} + '%'"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div th:fragment="modal-content-like">
        <table class="table project-table" id="likes">
            <tr th:each="item : ${items}">
                <td><a th:href="'https://www.instagram.com/'+${item.username}"><img th:src="${item.profilePicUrl}"
                                                                                    style="width: 30px" alt=""></a></td>
                <td><a th:href="'https://www.instagram.com/'+${item.username}" th:text="${item.username}"></a></td>
            </tr>
        </table>
        <span th:text="${message}"></span>
    </div>

    <div th:fragment="modal-content-comment">
        <table class="table project-table" id="comments">
            <thead>
            <tr>
                <th>User</th>
                <th>Time</th>
                <th>Comment</th>

            </tr>
            </thead>
            <tr th:each="item : ${items}">
                <td><a th:href="'https://www.instagram.com/'+${item.user.username}" th:text="${item.user.username}"></a>
                </td>
                <td th:text="${#dates.format(item.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${item.text}"></td>
            </tr>
        </table>
        <span th:text="${message}"></span>
    </div>

    <div th:fragment="project-comment-list">
        <table id="comment">
            <tr>
                <th>Treść</th>
                <th>Priorytet</th>
                <th>Usuń</th>
            </tr>
            <tr th:each="k,iterStat  : ${comments}">
                <td>
                                                <span th:text="${k.comment}">
                                                    </span>
                </td>
                <td>
                    <span th:text="${k.priority}"></span>
                </td>
                <td>
                    <a href="#" class="fa fa-trash-o" id="delete"
                       th:onclick="'removeComment(' + ${iterStat.index} + ');'"></a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
