<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
    <title th:fragment="title" th:text="#{application.title}"></title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/font-awesome.min.css}"/>
    <link href="../../../resources/css/navbar-fixed-side.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/navbar-fixed-side.css}"/>
    <link href="../../../resources/css/scaleefect.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/scaleefect.css}"/>


    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <link href="../../../resources/css/bootstrap-tokenfield.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap-tokenfield.min.css}"/>
    <link href="../../../resources/css/tokenfield-typeahead.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/tokenfield-typeahead.min.css}"/>
    <script src="../../../resources/js/bootstrap-tokenfield.min.js"
            th:src="@{/resources/js/bootstrap-tokenfield.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js"
            th:src="@{/resources/js/bootstrap.min.js}"></script>

    <script src="../../../resources/js/moment.min.js" th:src="@{/resources/js/moment.min.js}"></script>
    <script src="../../../resources/js/Chart.min.js" th:src="@{/resources/js/Chart.min.js}"></script>
    <script src="../../../resources/js/Chart.bundle.min.js" th:src="@{/resources/js/Chart.bundle.min.js}"></script>
</head>
<body>

<!-- Header -->
<div class="sidebar-wrapper navbar-inverse" th:fragment="header">
    <nav id="sidebar">
        <div class="layout-application-name">
            <i class="fa fa-circle signin-logo"></i>
            <span class="logo-text" th:text="#{application.title}">&nbsp;&nbsp;</span></div>

        <ul class="list-unstyled">

            <li th:classappend="${module == 'home' ? 'active' : ''}">
                <a href="/" th:href="@{/}">
                    <span class="fa fa-pie-chart" aria-hidden="true">&nbsp;&nbsp;</span><span
                        th:text="#{navigation.home}"></span>
                </a>
            </li>
            <li th:classappend="${module == 'stats' ? 'active' : ''}">
                <a href="/stats" th:href="@{/stats}">
                    <span class="fa fa-bar-chart" aria-hidden="true">&nbsp;&nbsp;</span><span
                        th:text="#{navigation.stats}"></span>
                </a>
            </li>
            <li th:classappend="${module == 'projects' ? 'active' : ''}">
                <a href="/projects" th:href="@{/projects}">
                    <span class="fa fa-files-o" aria-hidden="true">&nbsp;&nbsp;</span><span
                        th:text="#{navigation.projects}"></span>
                </a>
            </li>
            <li th:classappend="${module == 'users' ? 'active' : ''}" th:if="${#authentication}">
                <a href="/users" th:href="@{/users}">
                    <span class="fa fa-user-o" aria-hidden="true">&nbsp;&nbsp;</span><span
                        th:text="#{navigation.users}"></span>
                </a>
            </li>
            <li th:classappend="${module == 'settings' ? 'active' : ''}">
                <a href="/settings" th:href="@{/settings}">
                    <span class="fa fa-sliders" aria-hidden="true">&nbsp;&nbsp;</span><span
                        th:text="#{navigation.settings}"></span>
                </a>
            </li>z


            <!--<li>-->
                <!--<a href="/signin" th:href="@{/signin}" th:if="${#authorization.expression('!isAuthenticated()')}">-->
                    <!--<span class="glyphicon glyphicon-log-in" aria-hidden="true">&nbsp;</span><span-->
                        <!--th:text="#{navigation.signin}"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#" th:href="@{#}" onclick="$('#form').submit();">-->
                    <!--<span class="glyphicon glyphicon-log-in" aria-hidden="true">&nbsp;</span><span-->
                        <!--th:text="#{navigation.signout}"></span>-->
                <!--</a>-->

            <!--</li>-->
        </ul>
    </nav>
    <!--/.nav-collapdiv-->
</div>

<!-- Footer -->
<div th:fragment="footer" th:align="center" class="bottom" style="position:absolute;bottom:0; width: 100%">

    &copy;&nbsp;<span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}"></span>
    <span th:text="#{application.title}"></span> by <a href="http://exception.biz.pl">Exception</a>
</div>

<!-- Upper Bar -->
<nav class="navbar navbar-default container-fluid" th:fragment="upperBar">
    <!--<div class="container-fluid">-->

            <ul class="nav navbar-nav navbar-right">
                <li style="margin-top:18px"> <button class="btn" th:if="${module == 'projects'}" th:text="#{project.add}" onclick="location.href='/project'"></button></li>
                <li style="margin-top:18px"> <button class="btn" th:if="${module == 'users'}" th:text="#{user.add}" onclick="location.href='/user'"></button></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    >

                        <img src="../../../resources/images/test.jpg" class="img-user img-circle" alt="IMIE"><span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="/" th:href="@{/}"><span th:text="#{navigation.home}">&nbsp;&nbsp;</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" th:href="@{#}" onclick="$('#form').submit();">
                            <span th:text="#{navigation.signout}">&nbsp;&nbsp;</span></a></li>
                    </ul>
                </li>

            </ul>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>


    <!--</div>-->
</nav>
</body>
</html>